@charset "UTF-8";

@font-face {
  font-family: "custom-icons";
  src:url("../fonts/custom-icons/custom-icons.eot");
  src:url("../fonts/custom-icons/custom-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/custom-icons/custom-icons.woff") format("woff"),
    url("../fonts/custom-icons/custom-icons.ttf") format("truetype"),
    url("../fonts/custom-icons/custom-icons.svg#custom-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "custom-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "custom-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-agents:before {
  content: "\61";
}
.icon-commissions:before {
  content: "\62";
}
.icon-company:before {
  content: "\63";
}
.icon-competitive-offer:before {
  content: "\64";
}
.icon-deployed:before {
  content: "\65";
}
.icon-document:before {
  content: "\66";
}
.icon-earned:before {
  content: "\67";
}
.icon-earnings:before {
  content: "\68";
}
.icon-edit:before {
  content: "\69";
}
.icon-homeowners:before {
  content: "\6a";
}
.icon-image:before {
  content: "\6b";
}
.icon-investments:before {
  content: "\6c";
}
.icon-investment-pool:before {
  content: "\6d";
}
.icon-rent:before {
  content: "\6e";
}
.icon-property-vetting-guidelines:before {
  content: "\6f";
}
.icon-property:before {
  content: "\70";
}
.icon-properties:before {
  content: "\71";
}
.icon-pledged:before {
  content: "\72";
}
.icon-notification:before {
  content: "\73";
}
.icon-no-transaction:before {
  content: "\74";
}
.icon-no-property:before {
  content: "\75";
}
.icon-no-investor:before {
  content: "\76";
}
.icon-no-investment:before {
  content: "\77";
}
.icon-no-homeowner:before {
  content: "\78";
}
.icon-no-earning:before {
  content: "\79";
}
.icon-investors:before {
  content: "\7a";
}
.icon-repayment-terms:before {
  content: "\41";
}
.icon-request-information:before {
  content: "\42";
}
.icon-summary:before {
  content: "\43";
}
.icon-view:before {
  content: "\44";
}
.icon-we-never-foreclose:before {
  content: "\45";
}
.icon-worth:before {
  content: "\46";
}
.icon-no-agents:before {
  content: "\47";
}
