html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

p {
	font-size:15px;
}

h1 {
	font-size:35px;
}

body {
	line-height: normal;
	font-family: 'Poppins', sans-serif;
	position:relative;
	margin: 0;
	padding: 0;
	overflow-x: unset;
}

a:hover {
	text-decoration: underline !important;
	color:#FFBF00;
}

.breadcrumb {
	padding: .50rem .75rem !important;
}

ol.breadcrumb li {
	font-size:12px !important;
}

.btn-keyland {
    color: #fff;
    background-color: #FFBF00;
    border-radius: 0px !important;
}

.btn-keyland:hover {
    color: #000;
    background-color: #FFD865;
    border-color: #FFBE00;
}

a.btn-keyland:hover {
	color:#000 !important;
	text-decoration: none !important; 
}

.btn-outline-keyland {
    color: #000;
    background-color: transparent;
    border:1px solid #000;
    border-radius: 0px !important;
}

.btn-outline-keyland:hover {
	color: #fff;
	background: rgba(0,0,0,0.7);
}

a.btn-outline-keyland:hover {
	color:#fff !important;
	text-decoration: none !important; 
}

.container2 {
    width: 1250px !important;
    max-width:100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    clear:both;
}

.bgnav {
    background:#FFBF00 !important;
}

.text-yellow {
	color:#FFBF00 !important;
}

.prelative {
	position:relative;
}

.fontsmall {
	font-size:12px !important;
}

.btn-cdomains-trans {
    color: #fff;
    background-color: transparent;
    border-radius: 40px !important;
    border:2px solid #fff;
}

.clearfix {
	clear:both !important;
	overflow: hidden !important;
}

.bottomborder {
	border-bottom: 1px solid #eee !important;
}

.rightborder {
	border-right: 1px solid #eee !important;
}

.leftborder {
	border-left: 1px solid #eee !important;
}

.borderauto {
	border: 1px solid #eee !important;
	padding:15px;
}

.bottomborderyellow {
	border-bottom: 1px solid #FFBF00 !important;
}
.topborderyellow {
	border-top: 1px solid #FFBF00 !important;
}

.box-white {
	background:#fff !important;
	padding:20px;
}

.bgwhite{
	background:#fff !important;
}

/* navigation*/

nav.fixed-top {
	background: rgba(255,255,255,0.8);
}

nav a {
	color:#707070;
}

ul.navbar-nav {
	display:table;
}

nav li {
	padding:0 7px;
	font-size:14px;
	display: table-cell;
    vertical-align: middle;
}

nav li div.dropdown-menu, div.dropdown-menu a {
	font-size:14px;
	color: #707070 !important;
}

.languagetrans {
	position: absolute;
	right:60px;
	top:160px;
	text-align: right;
	font-size:12px;
}

header {
	height: 100px;
	position: relative;
}

header ul {
	flex-direction: column !important;
}

header li {
	display:block;
}

header li a {
	color: #707070;
}

.navbar-light .navbar-nav .nav-link {
    text-decoration: unset !important;
}

.navbar-light .navbar-nav li.active .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #ffbf00;
}


/* banner */
.banner {
	width:100%;
	min-height:600px;
	height:auto;
	display:block;
	background: url('../img/1.jpg')no-repeat center center;
	background-size: cover;
	clear:both;
	overflow: hidden;
	padding:50px 0;
}

.banner h1 strong {
	font-family: arial !important;
	font-weight:bold;
	display:block;
	color:#000;
	letter-spacing: 15px;
}

.banner h1 {
	padding-top:15px;
	padding-bottom:15px;
}

.banner h1 span{
	font-family: 'Playfair Display', serif;
	font-size:60px;
	font-weight:normal;
}

.banner .whitebox {
	background: rgba(0,0,0,0.5);
	padding:15px;
	width:500px;
	height:auto;
}


#demo {
	height:auto !important;
}

.carousel-item {
  height: 100vh;
  height:auto;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.carousel-inner{
	width: 90% !important;
    margin: 0 auto !important;
}


.carousel-caption {
	left:70px !important;
	top:30% !important;
	text-align:left !important;
}

.controls-left {
	position: absolute;
	left:20px;
	top:40px;
}

.controls-right {
	position: absolute;
	right:20px;
	top:40px;
}


.whitebox h1 {
	font-size:55px;
	color:#FFBF00;
	line-height: 50px;
	text-align: center;
}

.box-nav {
	padding:15px;
	display:block;
}

.box-nav .cstm-radio input[type="radio"]:checked + label, .box-nav .cstm-radio input[type="radio"]:not(:checked) + label {
	color:#fff !important
}

.box-nav ul li {
	display:inline-block;
	padding:0 10px;
}

.box-nav ul li a{
	color:#000;
	text-decoration-color: #FFBF00;
}


.box-nav ul li a:hover{
	text-decoration-color: #FFBF00;
}

.page-content {
	width:100%;
	padding:20px;
}


.feature {
	width:100%;
	height:auto;
	padding:10px;
	text-align: center;
	background:#F8F8F8;
}

.feature img {
	opacity: 1;
	display: block;
	width: 100%;
	object-fit: cover;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

img.property-img {
	height: 230px !important;
}

.feature a:hover img {
	display:block;
	opacity: 0.3;	
}


.feature .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.feature .middle p {
	font-size:18px;
	color:#000;
	width:220px;
	font-weight:bold;
}

.proplistprice {
	position: absolute;
	top:0;
	left:0;
	right:0;
	margin:0 auto;
	background: rgba(0,0,0,0.5);
	padding:5px;
	display:block;
	color:#fff;
	font-weight:bold;
}

.feature a:hover .middle {
  opacity: 1;
}


.properties {
	width:100%;
	height:auto;
	padding:20px;
}

.locations {
	width:100%;
	height:auto;
	padding:20px;
	text-align: center;
	background:#F8F8F8;
}


.locations img {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.locations a:hover img {
	display:block;
	opacity: 0.3;	
}

.about-content div, 
.about-content p,
.about-content ul li {
	font-size: 15px !important;
}

.about-content ul {
	padding-left:15px;
}


.locations .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.locations .middle p {
	font-size:30px;
	color:#000;
	width:300px;
	font-weight:bold;
}

.locations a:hover .middle {
  opacity: 1;
}


.getintouch {
	width:100%;
	height:auto;
	padding:20px;
	text-align: center;
	/*background: url('../images/bg-get.jpg') no-repeat center center;*/
	background:#fff;
	background-size: cover;
	display:block;
	min-height:609px;
}


.contactinfo {
	background:#fff;
	padding:20px;
	width:100%;
	height:443px;
}

.cinfo {
	float:left;
}

.footerlinks {
	float:left;
}

.followus {
	float:left;
}

.footerlogo {
	float:left;
}

.footerline {
	float:left;
}


footer {
	width:100%;
	height: auto;
	background:#000;
	padding-top:30px;
	clear:both;
	overflow: hidden;
	color:#fff !important;
	font-size:14px;
}

footer a {
	color:#fff;
}

footer h4 {
	font-size:20px;
}

.footerlogo {
	float:left;
}

.social {
	float:right;
}

.social ul li {
	display:inline-block;
	margin:0 5px;
}

.footerline {
	float:left;
}

.cinfo {
	padding-left:0px !important;
}
.cinfo, .footerlinks, .followus{
	float:left;
	padding:0 50px;
	font-weight:normal;
}

.footerlinks ul{
	float:left;
	padding-right:20px;
}

.footerlinks ul li{
	text-align:left;
	padding-bottom:5px;
}

.followus ul li {
	display:inline-block;
	vertical-align: middle;
	font-size:40px;
	margin:0 5px;
}

.footerlogo {
	margin: 14px 0 0 50px;
}

.contactSocial ul li {
	display:inline-block;
	vertical-align: middle;
	font-size:40px;
	margin:0 5px;
}


/* property page */
.propertycontent {
	background:#F8F8F8 !important;
	padding:20px 0;
	display:block;
}

.propertynav {
	background:#000;
	clear:both;
	overflow: hidden;
	padding: 10px 0;
}

.propertynav ul {
	padding:8px 0;
}

.propertynav ul li {
	display:inline-block;
	color:#fff;
}

.propertynav ul.pnav1 {
	width:50%;
}

.propertynav ul.pnav1 li{
	padding:0 10px;
	vertical-align: middle;
}


.propertynav ul.pnav2 {
	width:50%;
}

.propertynav ul.pnav2 li {
	width:100%;
}

.propertynav ul li a {
	color:#fff;
}

.feature .allfeattext p {
	font-size:14px;
	width:200px;
}

.feature .allfeattext ul li{
	padding:0px;
}


.feature ul.featurelist li{
	display:block;
	text-align: left;
}


.feature ul.featurelist li ul {
	padding-left:20px;
	padding-top:5px;
	padding-bottom:5px;
}

.feature ul.featurelist li ul li a{
	font-weight: normal;
}

.feature ul.featurelist li a {
	font-weight:bold;
	color:#000;
}

.allfeattext ul li {
	width:30%;
}


/*gallery details*/

#slider {
  width: 500px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#slider ul {
  overflow: hidden;
  *zoom: 1;
}
#slider ul li {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  float: left;
  width: 500px;
  height: 300px;
  line-height: 300px;
}
#slider a {
  display: block;
  position: absolute;
  color: #fff;
  font-size: 2em;
  top: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: -15px;
  text-decoration: none;
  background: #000;
}
#slider a#sliderNext {
  right: 0;
}
#slider a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

#slider ul li img {
	width: 100%;
	object-fit: cover;
}

#pager {
  width: 500px;
  text-align: left;
}

#pager a {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}


#pager a:hover, #pager a.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

#pager a img {
	width: 100%;
}



/* Modal */

.modal-header {
	background: #212121 !important;
	color:#fff !important;
}

.modal-header .close {
	margin-top:-45px !important;
	opacity: 1 !important;
	text-shadow:none !important;
}

.modal-header .close span {
	background: #FF6B6B;
	border-radius: 100px;
    padding: 0 7px;
    font-size: 20px;
    margin: 0 -25px 0 0px;
    color:#fff !important;
}

.modal-footer {
	justify-content: flex-start !important;
}

.iconforms {
	position: absolute;
	top:1px;
	left:1px;
}

.modal-body .controlName, .modal-body .controlphone, .modal-body .controlemail{
	height:60px !important;
	text-indent: 65px;
}

.modal-body .controlmessage{
	text-indent: 65px;
}


.modal-body .form-group {
	position: relative;
}

.modal-body .textformcontrol {
	height:auto !important;
}


.modal-dialog {
    max-width:800px !important; 

}

.modal-dialog2{
    max-width:800px !important; 
    margin:100px auto 0 auto !important;
    
}

.acntlogin .modal-content{
        min-height: 400px;
        height: auto;
} 

.signinacct form{
        width:65%;
        margin:0 auto;
}
.signinacct ul li{
    display:inline-block;
    padding:0 5px;
    color:#000;
    font-size:25px;
}

.pmid {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.googlemap iframe {
	width: 100% !important;
	height: 350px !important;
}

/* agent profile */
.headprofile {
	border:1px solid #ccc;
	padding:10px;
	margin-bottom:15px;
}

.agent-contact {
	font-size:15px;
}

.homeprofiles img {
	height:50% !important;
	overflow: hidden;
}

.s-input input {
    width: 300px !important;
}

.bs-filter-button {
	display: none;
}

/* google language */
a.gflag {vertical-align:middle;font-size:10px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/16.png);}
a.gflag img {border:0;}
a.gflag:hover {background-image:url(//gtranslate.net/flags/16a.png);}
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}